<%- include('header.ejs') -%>
    <h1><%= product.name %></h1>
    <p>Details will go here!</p>
    <p><%= product.id %></p>
    <img src='/images/<%= product.image %>' alt="Image of <%= product.name %>" />
<%- include('footer.ejs') -%>